{% macro input(id, label, type="text") %}
<div>
  <label for="{{ id }}">{{ label }}</label>
  <input type="{{ type }}" id="{{ id }}" name="{{ id }}">
</div>
{% endmacro input %}

{% macro textarea(id, label) %}
<div>
  <label for="{{ id }}">{{ label }}</label>
  <textarea id="{{ id }}" name="{{ id }}"></textarea>
</div>
{% endmacro textarea %}

{% macro submit(text="Submit") -%}
<input type="submit" value="{{ text }}">
{%- endmacro submit %}
