{% extends "_base.html" %}

{% block content %}
{% if posts_users -%}
<table>
  {% for post_user in posts_users -%}
  {%- set post = post_user[0] -%}
  {%- set author = post_user[1] -%}
  <tr>
    <td>{{ loop.index }}</td>
    {% if post.link -%}
    <td>{{ link_to(url=post.link, text=post.title) }}</td>
    {%- else -%}
    <td>{{ post.title }}</td>
    {%- endif %}
    <td>
      <small>
        submitted by {{ link_to(user=author) }}
      </small>
    </td><td>
      <small>
        {{ link_to(post=post, text="comments") }}
      </small>
    </td><td>
      <small>{{ post.created_at }}</small>
    </td>
  </tr>
  {%- endfor %}
</table>
{%- else -%}
<p>No posts yet.</p>
{%- endif %}

<p>{{ link_to(user=[], text="See users list") }}</p>
{% endblock %}
